.heater-buttons.wrapper {
  padding: 0.5em;
}

.heater-buttons p.title {
  margin-bottom: 0.7em;
  margin-top: 0;
  font-size: larger;
  font-weight: 500 !important;
  z-index: 1;
}

.heater-buttons .content {
  width: 100%;
  height: 100%;
  display: flex;
}

.heater-buttons .info-column {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
}

.heater-buttons .control-column{
  display: flex;
  flex-grow: 12;
  flex-flow: column;
}

.heater-buttons .info-item {
  margin: 0.3em;
}

.heater-buttons .info-item * {
  margin: 0 0.5em;
}

/* .heater-buttons .icon-contr-container {
  flex: auto;
  display: flex;
} */

/* .heater-buttons .control-container {
  height: 84%;
  flex-flow: column;
  display: flex;
} */

/* .heater-buttons .side-icon-container {
  display: flex;
  margin: 0 1em;
  justify-content: center;
  flex-direction: column;
  text-align: center;
} */

/* .heater-buttons .current-cal-temp {
  color: #0094ce;
  font-size: 1.5em;
  font-weight: bold;
} */

/* .heater-buttons .side-icon-container i,
.heater-buttons .side-icon-container .current-cal-temp {
  margin-top: 4px;
  margin-bottom: 4px;
} */

.heater-buttons .target-temp {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-self: center;
}

.heater-buttons .temp {
  color: #0094ce;
  font-size: 5em;
  font-weight: bold;
}

.heater-buttons .iconFalse {
  color: gray;
}

.heater-buttons .iconTrue, .heater-buttons .missing {
  color: #ff4d4d;
}

.heater-buttons .no-select:focus {
  outline: none;
  -webkit-touch-callout: none;

  /* iOS Safari */
  -webkit-user-select: none;

  /* Safari */
  -khtml-user-select: none;

  /* Konqueror HTML */
  -moz-user-select: none;

  /* Firefox */
  -ms-user-select: none;

  /* Internet Explorer/Edge */
  user-select: none;
}

.heater-buttons .warning-icon i {
  margin-left: 5px;
  margin-right: 5px;
}

.heater-buttons .link-pointer {
  cursor: pointer;
}

.heater-buttons .user-mode {
  color: rgb(63, 81, 181) !important;
}

.heater-buttons .info {
  margin-right: 10px;
}

.userSettingsIcon {
  margin-right: 20px;
}

.heaterContr {
  margin-left: 10px;
}

